.Toolbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "logo navitems login";
    flex-direction: row;
    margin: 0 auto 50px auto;
    height: 40px;
    align-items: center;
    grid-area: toolbar;
    font-size: 1.2em;
}

.Toolbar a,
.Toolbar a:hover {
    color: white;

}
