.SearchBar {
    width: 100%;
    height: 50px;
    color: var(--c-white);
    margin: auto;
    align-self: baseline;
    display: grid !important;
    grid-area: searchbar;
    grid-template-columns: 2fr 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: "input optpets optcities btnsearch";
    font-size: 1.2em !important;
    vertical-align: sub !important;
}

.SearchBar input {
    grid-area: input;
    border-radius: 10px 0 0 10px !important;
}

.SearchBar #opt-pets {
    grid-area: optpets;
    font-size: 1.2em;
}

.SearchBar #opt-cities {
    grid-area: optcities;
}

.SearchBar button {
    grid-area: btnsearch;
    background-color: var(--c-aquagreen) !important;
    border-radius: 0 10px 10px 0 !important;
    color: var(--c-white) !important;
}