.SearchOption {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    border: 1px black solid;
    background-color: white;
    color: #999;
    justify-content: center;
    font-size: 1.2em;
}